.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

.post{
  max-width: 720px;
  margin: 5rem auto 0;

  h1{
    font-size: 3.5rem;
    font-weight: 900;
    @media screen and (max-width:768px) {
      font-size: 3rem;
    }
  }

  time{
    display: block;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top:1.5rem;
  }

  .postContent{
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

  p, ul{ 
    margin: 1.5rem 0;
  }
  ul{
    padding-left: 1.5rem;
  
    li{
      margin: 0.5rem 0;
      }
    }
  }
}

.containerCrumb{
  color: black;
  max-width: 1200px;
  margin:  0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  svg{
    font-size: 0.8rem;
    color: white;
  }

}
.crumb{
  margin-left: 2px;
  padding: 0px 5px;
  font-size: 0.8rem;
  color: rgb(227, 222, 222);
  font-weight: 600;
  p{
    font-size: 0.8rem !important;
    color: rgb(227, 222, 222) !important;
    font-weight: 600;
  }
  p:hover{
    color: rgba(174, 177, 177, 0.891) !important;
    transition: all 0.3s ease-in-out;
  }
}