.footerContainer{
  padding: 3rem 1rem;
  background-color: #180120;
 

  p{
    font-size: 1rem;
    color: #A7A1A1;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
}
.footerContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
p{
  padding: 0rem 5rem;
  color: rgb(130, 135, 135) !important;

  
}
a{
  color: rgb(130, 135, 135);
  transition: 0.3s;
}
a:hover{
  color:white;
}
}
