.footerContainer{
  // background-color: #180120;


  p{
    font-size: 1rem;
    color: #A7A1A1;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
}
.boxSvg{
  transform: rotate(180deg);
  fill: #350C4E;
  svg{
    color: #c6c5c6;
  }
}
.footerBackColor{
  padding: 3rem 1rem;
  background-color: #350C4E;
}
.widthFooter{
  max-width: 1200px;
  margin: 0 auto;
  
}
.footerContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
p{
  padding: 0rem 5rem;
  color: rgb(130, 135, 135) !important;

  
}
a{
  color: rgb(130, 135, 135);
  transition: 0.3s;
}
a:hover{
  color:white;
}
}
.footerPagamento{
  display: flex;
  flex-direction: column;
 
}
.boxPagamento{
  display: flex;
  padding: 20px;
  @media screen and (max-width:768px) {
    flex-direction: column;
  }
 
  .boxAntSeguros{
    padding: 10px;
    h2{
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.5em;
      letter-spacing: 1px;
      @media screen and (max-width:768px) {
        font-size: 1rem;
      }
    }
  }
}
.imgPagamento{
  max-width: 230px;

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.boxSeguro{
  padding: 10px;
  div:nth-of-type(1){
    margin-bottom: 1.25rem;
    h2{
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.5em;
      letter-spacing: 1px;
      @media screen and (max-width:768px) {
        font-size: 1rem;
      }
    }
  }

  .boxSeguro2{
    max-width: 200px;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    fill: #350C4E;
    color: #350C4E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    padding: 7px 15px; 

    a{

      span:nth-of-type(1){
        margin-right: 5px;
        
      }
    }
    span:nth-of-type(1){
      @media screen and (max-width:768px){
        font-size: 13px;
      }
    }
  }
}